[Unit]
Description=todo demo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/todo
ExecStart=serve -s build -l tcp://{{ ansible_host }}:5000/

[Install]
WantedBy=multi-user.target